services:
  ocr-processor:
    build:
      context: .
      network: host
      args:
        BUILD_REV: ${BUILD_REV:-dev}
        BUILD_DATE: ${BUILD_DATE:-}
    environment:
      PYTHONUNBUFFERED: 1
      PYTHONIOENCODING: utf-8
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_NAME: main
      DB_USER: postgres
      DB_PASS: root
      OLMOCR_SERVER_URL: ${OLMOCR_SERVER_URL:-http://host.docker.internal:30024/v1}
      OLMOCR_MODEL: ${OLMOCR_MODEL:-olmocr}
      OLMOCR_API_KEY: ${OLMOCR_API_KEY:-}
      OLMOCR_TARGET_LONGEST_DIM: ${OLMOCR_TARGET_LONGEST_DIM:-1280}
    extra_hosts:
      - "host.docker.internal:host-gateway"
